{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Woopla</title>
  </head>
  <body>
    <!--
      {% if note %} 
        {% for isi in note %}
        <div class="card">
          <div class="container">
            <h4><b>To:</b> {{ isi.to }} </h4>
            <h5><b>From:</b> {{ isi.from }} </h5> 
            <h10><b>Title:</b> {{ isi.title }} </h10>
            <p>{{ isi.message }}</p>
          </div>
        </div>
        {% endfor %}
	    {% endif %}
    -->
      <!--
      {% if note %} 
        {% for isi in note %}
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">To:</h5> {{ isi.to }}
            <h5 class="card-title">From:</h5> {{ isi.from }}
            <h5 class="card-title">Title:</h5> {{ isi.title }}
            <h5 class="card-title">Message:</h5> {{ isi.message }}
          </div>
        </div>
      </div>

      {% endfor %}
	  {% endif %}
    -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% if note %} 
        {% for isi in note %}
        <div class="col">
          <div class="card h-100 shadow-lg">
            <div class="card-body">
              <h5 class="card-title d-inline">To:</h5> {{ isi.to }} <br>
              <h5 class="card-title d-inline">From:</h5> {{ isi.from }} <br>
              <h5 class="card-title d-inline">Title:</h5> {{ isi.title }} <br>
              <p class="card-text">{{ isi.message }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
  </body>
</html>
{% endblock %}