{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Lab4</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
          <!-- 
          <form action="" method="POST" accept-charset="utf-8"> 
                {% csrf_token%}
                <div class="mb-3">
                  <label for="to" class="form-label">To</label>
                  {{ form.to }}
                </div>
                <div class="form-group">
                  <label for="to">From</label>
                  {{ form.from }}
                </div>
                <div class="form-group">
                  <label for="to">Title</label>
                  {{ form.title }}
                </div>
                <div class="form-group">
                  <label for="to">Message</label>
                  {{ form.message }}
                </div>
                <button type="submit" class="btn btn-primary">Tambah</button>
           </form>
           -->
           <form action="" method="POST" accept-charset="utf-8">
              {% csrf_token%}
              <label for="to">To</label>
              {{ form.to }}
          
              <label for="from">From</label>
              {{ form.from }}

              <label for="title">Title</label>
              {{ form.title }}

              <label for="message">Message</label>
              {{ form.message }}
            
              <input type="submit" value="Submit">
            </form>
        </div>
     </div>
  </body>
</html>
{% endblock %}