{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
    <table class="table table-bordered border-dark">
      <thead>
        <tr>
          <th class = "border-dark text-center">To</th>
          <th class = "border-dark text-center">From</th>
          <th class = "border-dark text-center">Title</th>
          <th class = "border-dark text-center">Message</th>
          <th class = "border-dark text-center">Action</th>
        </tr>
      </thead>
      <tbody>
      {% if note %} 
        {% for isi in note %}
        <tr>
        <td class = "border-dark">{{ isi.to }}</td>
        <td class = "border-dark">{{ isi.from }}</td>
        <td class = "border-dark">{{ isi.title }}</td>
        <td class = "border-dark">{{ isi.message }}</td>
        <td class = "border-dark">
        <button type="button" class="btn btn-primary">View</button>
        <button type="button" class="btn btn-secondary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
        </td>
        </tr>
        {% endfor %}
	    {% endif %}
    </tbody>
  </body>
</html>
{% endblock %}