<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab3</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
           <form action="" method="POST" accept-charset="utf-8"> 
                {% csrf_token%}  
                <label for="name">Name:</label><br>{{ form.name }}<br>
                <label for="npm">NPM:</label><br>{{ form.npm }}<br>
                <label for="dob">DOB:</label><br>{{ form.dob }}<br>
                <input type ="submit" value="Tambah">
           </form>
        </div>
     </div>
  </body>
</html>