<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Woopla</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if note %} 
        {% for isi in note %}
        <tr>
        <td>{{ isi.to }}</td>
        <td>{{ isi.from }}</td>
        <td>{{ isi.title }}</td>
        <td>{{ isi.message }}</td>
        </tr>
        {% endfor %}
	    {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
